@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Black.eot');
    src: url('RobotoCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Black.woff2') format('woff2'),
        url('RobotoCondensed-Black.woff') format('woff'),
        url('RobotoCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BlackItalic.eot');
    src: url('RobotoCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-BlackItalic.woff2') format('woff2'),
        url('RobotoCondensed-BlackItalic.woff') format('woff'),
        url('RobotoCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Bold.eot');
    src: url('RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Bold.woff2') format('woff2'),
        url('RobotoCondensed-Bold.woff') format('woff'),
        url('RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BoldItalic.eot');
    src: url('RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('RobotoCondensed-BoldItalic.woff') format('woff'),
        url('RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraBold.eot');
    src: url('RobotoCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraBold.woff2') format('woff2'),
        url('RobotoCondensed-ExtraBold.woff') format('woff'),
        url('RobotoCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraBoldItalic.eot');
    src: url('RobotoCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('RobotoCondensed-ExtraBoldItalic.woff') format('woff'),
        url('RobotoCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraLight.eot');
    src: url('RobotoCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraLight.woff2') format('woff2'),
        url('RobotoCondensed-ExtraLight.woff') format('woff'),
        url('RobotoCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ExtraLightItalic.eot');
    src: url('RobotoCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('RobotoCondensed-ExtraLightItalic.woff') format('woff'),
        url('RobotoCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Italic.eot');
    src: url('RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Italic.woff2') format('woff2'),
        url('RobotoCondensed-Italic.woff') format('woff'),
        url('RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Light.eot');
    src: url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Light.woff2') format('woff2'),
        url('RobotoCondensed-Light.woff') format('woff'),
        url('RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-LightItalic.eot');
    src: url('RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('RobotoCondensed-LightItalic.woff') format('woff'),
        url('RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Medium.eot');
    src: url('RobotoCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Medium.woff2') format('woff2'),
        url('RobotoCondensed-Medium.woff') format('woff'),
        url('RobotoCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-MediumItalic.eot');
    src: url('RobotoCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-MediumItalic.woff2') format('woff2'),
        url('RobotoCondensed-MediumItalic.woff') format('woff'),
        url('RobotoCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Regular.eot');
    src: url('RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Regular.woff2') format('woff2'),
        url('RobotoCondensed-Regular.woff') format('woff'),
        url('RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-SemiBold.eot');
    src: url('RobotoCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('RobotoCondensed-SemiBold.woff') format('woff'),
        url('RobotoCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-SemiBoldItalic.eot');
    src: url('RobotoCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('RobotoCondensed-SemiBoldItalic.woff') format('woff'),
        url('RobotoCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Thin.eot');
    src: url('RobotoCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Thin.woff2') format('woff2'),
        url('RobotoCondensed-Thin.woff') format('woff'),
        url('RobotoCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-ThinItalic.eot');
    src: url('RobotoCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-ThinItalic.woff2') format('woff2'),
        url('RobotoCondensed-ThinItalic.woff') format('woff'),
        url('RobotoCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-Black.eot');
    src: url('RobotoSemiCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-Black.woff2') format('woff2'),
        url('RobotoSemiCondensed-Black.woff') format('woff'),
        url('RobotoSemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('RobotoSemiCondensed-BlackItalic.eot');
    src: url('RobotoSemiCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('RobotoSemiCondensed-BlackItalic.woff2') format('woff2'),
        url('RobotoSemiCondensed-BlackItalic.woff') format('woff'),
        url('RobotoSemiCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}




/*Core style*/
body{
    font-family:'Roboto', sans-serif;
    margin:0;
}
.conteiner{
    width:1140px;
    margin: 0 auto;
}
.clearfix{
    clear:both;
}
.to-uppercase{
    text-transform:uppercase;
}
.section-subtitle{
    letter-spacing: 2px;
    font-weight:500;
    margin-bottom:0.625rem;
    color: #797979;
    text-transform:uppercase;
}
.section-title{
    font-size:2.62rem;
    font-weight:700;
    text-transform:capitalize;
    color: #05364D;
    margin-top:0.32rem;
}
.blur-line{
    display:inline-block;
    position:relative;
    top:-2;
    width:80px;
    margin-left: 0.32rem;
    height:4px;
    background-color: rgba(237,35,159,0.6);
    filter:blur(4px);
    border-radius: 4px;
}
.button{
    border:none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200% auto;
    color:white;
    font-weight:500;
    font-size:0.87rem;
    padding:1.26rem 2.5rem;
    cursor:pointer;
    border-radius:5px;
}
.button:hover{
    background-position:right center;
}
/*Main header*/
.main-header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: #FFFFFF;
    box-shadow:0px 3px 16px 0px rgb(0 0 0 / 10%);
    z-index:10;
}
.main-header__brand{
    display:inline-block;
    vertical-align:middle;
}
.main-header__brand img{
    width:64px;
}
.main-navigation{
    display:inline-block;
    vertical-align:middle;
}
.main-navigation__item{
    display:inline-block;
    vertical-align:middle;
}
.main-navigation__item a{
    color: #05364d;
    padding:10px;
    font-size: 0.875rem;
    font-weight:300;
    text-decoration:none;
    text-transform:uppercase;
}
.main-navigation__item a:hover{
    color:#efb6df;
}
.main-navigation__item.active a{
    color: #efb6df;
}
/*Footer section*/
.footer{
    margin-top:50px;
    padding:6.25rem 0;
    background-color:#021017;
    text-align:center;
}
.footer-brand img{
    width:64px;
}
.footer-navigation__items{
    margin-bottom:20px;
}
.footer-navigation__item{
    display:inline-block;
    padding:0 10px;
}
.footer-navigation__item a{
    text-decoration:none;
    color:#FFFFFF;
}
.footer-social{
    display:inline-block;
    width:45px;
    height:45px;
    line-height:45px;
    text-align:center;
    background-color:#ffffff;
    border-radius:36px;
    color:#05364d;
    font-size:1rem;
    margin-right:12px;
}
.footer-social a{
    color:#021017;
}
.footer-social:hover{
    background:linear-gradient(90deg,#1345e6,#ed239f 100%);
}
.footer-social:hover i{
    color:#ffffff;
}

@media only screen and (max-width: 991px){
    .conteiner{
        width:90%;
    }
    .main-navigation{
        display:none;
    }
    .footer-navigation{
        display:none;
    }
}

@media only screen and (max-width: 767px){
    .conteiner{
        width:92%;
    }
    
}